# Postgres Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=collaborative_platform
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# API
PORT=4000
JWT_ACCESS_SECRET=supersecret_access
JWT_REFRESH_SECRET=supersecret_refresh
FRONTEND_URL=http://localhost:5173
